.card {
  font-family:  "Optima", "Optima Regular", Georgia;
  font-size: 30px;
  text-align: left;
  background-color: #002b36;
  color: #93a1a1; /* grey */
}

blockquote { margin: 0; font-size: 30px; color: #268bd2; /* blue */ }
mark, cite { font-size: 50px; }
mark, cite { font-weight: bold; }
mark { background-color: inherit; color: #2aa198; /* green */ }
cite { font-style: inherit; color: #268bd2; /* blue */ }
var { color: #b58900; /* yellow */ }
var:after { content: '?'; }

details { font-size: 20px; margin-top: 20px; }
.long { font-size: 30px; }
.decap:first-letter { text-transform: lowercase; }

section, blockquote { margin-bottom: 20px; }
code { font-family: Monaco, monospace; }

@font-face { font-family: "Optima Regular"; src: url('_Optima-Regular.ttf'); }
@font-face { font-family: "Monaco"; src: url('_Monaco.ttf'); }

a { color: inherit; text-decoration: none; }
a:hover { color: #d33682; }
small { position: absolute; display: inline-block; top: 0; right: 0; color: #6c71c4; font-size: 18px; font-weight: normal; }

/* following is a hack to allow sharing script, but must execute from template */
</style><script>function parse() {document.getElementsByTagName("article")[0].innerHTML = document.getElementsByClassName("card")[0].innerHTML.replace(/<(\w+)>(?:\s|&nbsp;){4}(.*?)<\/\1>/g, '<pre><code>$2</code></pre>').replace('</code></pre><pre><code>', '\n').replace(/<(\w+)>```\s*<\/\1>(.*?)<(\w+)>```\s*<\/\3>/g, function(match, p1, p2, offset, string){return '<pre><code>'+p2.replace(/<(\w+)>(.*?)<\/\1>/g,'$2\n')+'</code></pre>';}).replace('\n</code></pre>', '</code></pre>').replace(/([^\\])`((?:.(?!<\/[^>]+>))*?[^\\])`/g, '$1<code>$2</code>').replace(/\\`/g, '`').replace(/-/g,'&#8209;');}</script><style>
