body  {margin: 0.33em; }

.card {
  font-family:  "Optima", "Optima Regular", Georgia;
  font-size: 60px;
  text-align: left;
  background-color: #002b36;
  color: #93a1a1; /* grey */
}
.mobile .card {
  font-size: 50px;
}

blockquote { margin: 0; font-size: 0.75em; color: #268bd2; /* blue */ }
mark, cite { font-size: 1em; }
mark, cite { font-weight: bold; }
mark { background-color: inherit; color: #2aa198; /* cyan */ }
cite { font-style: inherit; color: #268bd2; /* blue */ }
mark strong, mark b { color: #d75f00; /* brred */ }
cite strong, cite b { color: #6c71c4; /* violet */ }
var { color: #d75f00; /* brred */ }
var.q { color: #b58900; /* yellow */ }
var.q:after { content: '?'; }

details { font-size: 0.5em; margin-top: 1em; }
.long { font-size: 0.5em; }
.decap:first-letter { text-transform: lowercase; }

section, blockquote { margin-bottom: 0.5em; }
code { font-family: Monaco, monospace; }
samp, em code, i code, code em, code i { color: #6c71c4; /* violet */ }
strong code, b code, code strong, code b { color: #2aa198; /* cyan */ }
blockquote code { color: #cb4b16; /* orange */ }
blockquote pre { font-size: 0.75em; }
/* mark code { color: #268bd2; /* blue  } */

pre { white-space: pre-wrap;}


@font-face { font-family: "Optima Regular"; src: url('_Optima-Regular.ttf'); }
@font-face { font-family: "Monaco"; src: url('_Monaco.ttf'); }

a { color: inherit; text-decoration: none; }
a:hover { color: #d33682; }
small.subdeck { position: absolute; display: inline-block; top: 0; right: 0; color: #6c71c4; font-size: 18px; font-weight: normal; }

img.latex { padding: 1em; background: #fff; }

kbd {
  box-shadow: inset 0px 1px 0px 0px #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  xfont-size: 0.8em;
  xheight: 1.5em;
  lxine-height: 1.5em;
  padding: 0px 10px;
  text-align: center;
  text-shadow: 1px 1px 0px #ffffff;
}
div.codehilite { background: inherit !important; }


